/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #999;
}

/* Custom default button 
.btn-success,
.btn-success:hover,
.btn-success:focus,*/
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
}
body {
  color: #555;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
footer {
  padding-top: 150px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
 /** -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          **/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}


/*
 * Header
 */

.masthead {
    background-color: #222;
    top: 0;
  }
.masthead > .inner {
  background-color: #222;
}
.masthead > 

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  .masthead-brand {

    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-heading{
  padding-bottom: 80px;
}




/*
 * Affix and center
 */

@media (min-width: 768px) {

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width:768px;
  }
}




/***********       carousel     ***************/

#carouselBody{
  margin-top: 200px;
}

/***********       carousel     ***************/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* Flip around the padding for proper display in narrow viewports */
.navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar .container {
  padding-top: 30px;
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*
 * Footer
 */

.backto-top {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  margin-right:0px;
  position: fixed;
  right:20px;
  bottom: 0;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
