#parse("/templates/module/header.vm")
<div class="container theme-light">
    <div class="row">
        <div class="col-lg-12 post">
           <!-- <div class="login-avatar" style="background: url($!{info.Avatar}) no-repeat center center;">
		   </div> -->
		   #if($!{avatarFileName})
        <center>   <img src="/image/get/$!{avatarFileName}" class="img-circle"/></center>
		   #end
            <div class="editormd-preview" id="md-container">
                <div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
                    $!{resume}
                </div>
            </div>
        </div>
    </div>
</div>
#parse("/templates/module/footer.vm")