<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link href="/css/login-page.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
</head>
<body class="login-page">
<!--<div class="login-avatar" onmouseover="this.style.cursor='pointer'" onclick="document.location='/'"></div>
-->

<div class="login-form">
    <div class="login-content">
	
        <form name="loginForm" method="post" action="/login.action">
			 <div class="form-group">
					<a href="$!{visitor.preUrl}/personIndex">
					<span class="glyphicon  glyphicon-fire">
						#if($!{success}==0)
							<strong color="0xff0000">用户名或密码错误！</strong>
							#else
								不想登陆，飞向我的首页O(∩_∩)O~~
						#end
		  </span>
        </a>
                
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </div>
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </div>
                    <input type="password" class="form-control" name="password" id="passBefore" placeholder="密码" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-login" id="login">
                    <i class="fa fa-sign-in"></i>
                    登陆   
                </button>
            </div>
            <div class="form-group">
				<div class="input-group">
                  <a href="$!{visitor.preUrl}/signup">
          <span class="glyphicon glyphicon-tree-deciduous">没有账号？ 现在注册</span>
        </a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/jquery.bootstrap-growl.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-md5/2.3.1/js/md5.min.js"></script>
<script src="/js/jcala-form.min.js"></script>
<script type="text/javascript">
        #set($ii = 1)
        #set($ii = $!{success})
        #if($ii < 1)
        setTimeout(function() {
            $bootstrapGrowl("Please check your username or password!", {
                type: 'danger',
                align: 'center',
                width: 'auto',
            });
        }, 0);
        #end
</script>
</body>
</html>