<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link href="/css/login-page.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript">
    function checkPwd(){
	
  var passwd = document.getElementById('password').value;
  var passwd2 = document.getElementById('password2').value;
  var tip=document.getElementById('passwordTip');
  if(passwd!=passwd2){
  tip.innerHTML='两次密码不一致,请从新输入';
  }else{
  tip.innerHTML='密码一致';
  }
  }
</script>
 <!-- 
  -->
</head>
<body class="login-page">
<div class="login-avatar" onmouseover="this.style.cursor='pointer'" onclick="document.location='/'"></div>

<div class="signup-form">
    <div class="login-content">
		
     <form name="loginForm" method="post" action="/doSignup">
            <div class="form-group">
				<center>
              <font color="0xff00ff">$!{failInfo}
                <span id="passwordTip"></span></center></font>
            </div>
			
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                       <span class="glyphicon glyphicon-user"/>
                    </div>
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名  $!{failInfo}" autocomplete="off" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </div>
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码" autocomplete="off" required="true"/>
                   
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </div>
				
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="确保两次密码一致" 
						autocomplete="off"
						
						onblur="checkPwd()"
						
						required="true"/>
                </a>
                </div>
            </div>
			 <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-envelope"/>
                    </div>
                    <input type="email" class="form-control" name="email" id="email" placeholder="用于密码找回的合法邮箱" autocomplete="off" required="true"/>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" id="signup">
                    <i class="fa fa-sign-in"></i>
						注册
                </button>
            </div>
			 <div class="form-group">
                <div class="input-group">
                     <a href="$!{visitor.preUrl}/login">
						<span class="glyphicon glyphicon-tree-deciduous">已有账号？ 现在登陆</span>
					 </a>
					 <a href="$!{visitor.preUrl}/personIndex">
						回到主页
                     </a>
                  </div>
            </div>
        </form>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/jquery.bootstrap-growl.min.js"></script>
<script src="//cdn.bootcss.com/blueimp-md5/2.3.1/js/md5.min.js"></script>
<script src="/js/jcala-form.min.js"></script>

</body>
</html>